<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @person.status %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Person:</strong>
  <%= @person.person %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @person.contact %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
