<h1>Listing person_individuals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Gender</th>
      <th>Cpf</th>
      <th>Birthdate</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @person_individuals.each do |person_individual| %>
      <tr>
        <td><%= person_individual.name %></td>
        <td><%= person_individual.surname %></td>
        <td><%= person_individual.gender %></td>
        <td><%= person_individual.cpf %></td>
        <td><%= person_individual.birthdate %></td>
        <td><%= link_to 'Show', person_individual %></td>
        <td><%= link_to 'Edit', edit_person_individual_path(person_individual) %></td>
        <td><%= link_to 'Destroy', person_individual, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person individual', new_person_individual_path %>
